<html>

<head>
  <title>Vacaciones Permanentes</title>
  <!-- bower:css -->
  <link rel="stylesheet" href="/javascripts/lib/bootstrap/dist/css/bootstrap.css" />
  <!-- endbower -->
  <link rel="stylesheet" href="/javascripts/lib/angular-google-places-autocomplete/src/autocomplete.css">
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
  <!-- bower:js-->
  <script src="/javascripts/lib/jquery/dist/jquery.js"></script>
  <script src="/javascripts/lib/angular/angular.js"></script>
  <script src="/javascripts/lib/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="/javascripts/lib/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/javascripts/lib/lodash/dist/lodash.compat.js"></script>
  <script src="/javascripts/lib/angular-google-maps/dist/angular-google-maps.js"></script>
  <!-- endbower-->
  <script src="/javascripts/lib/angular-google-places-autocomplete/src/autocomplete.js"></script>
  <script src="/javascripts/angularApp.js"></script>
  <style>
    .angular-google-map-container { height: 600px; }
  </style>
</head>

<body ng-app="vacacionesPermanentes">
  <nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
    <ul class="nav navbar-nav">
      <li ng-show="isLoggedIn()"><a>Hola, {{ currentUser() }}</a></li>
      <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Desconectarse</a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/login">Conectarse</a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/register">Registrarse</a></li>
    </ul>
  </nav>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <ui-view></ui-view>
    </div>
  </div>

  <script type="text/ng-template" id="/home.html">
      <div class="page-header">
        <h1>Vacaciones Permanentes</h1>
      </div>

      <div ng-hide="isLoggedIn()">
        <h3>Necesitas <a href="/#/login">logearte</a> o <a href="/#/register">registrarte</a> antes de poder crear un viaje.</h3>
      </div>

      <div ng-show="isLoggedIn()">
      <h3>Tus viajes</h3>
      </div>
      <div ng-show="isLoggedIn()" ng-repeat="viaje in viajes | orderBy:'-nombre'">
          <span style="font-size:16px; margin-left:10px;">
             {{viaje.nombre}} - <a href="#/viajes/{{viaje._id}}">Destinos: {{viaje.destinos.length}}</a> - <a href="" ng-click="delViaje(viaje._id)">Borrar</a>
          </span>
        </span>
      </div>

      <form ng-submit="addViaje()"
        ng-show="isLoggedIn()"
        style="margin-top:30px;">
        <h3>Agregar un viaje nuevo</h3>

        <div class="form-group">
          <input type="text"
            class="form-control"
            placeholder="Nombre"
            ng-model="nombre"></input>
        </div>
        <button type="submit" class="btn btn-primary">Crear</button>
      </form>
  </script>

  <script type="text/ng-template" id="/viajes.html">
    <div ng-show="isLoggedIn()" class="page-header">
      <h3>
          {{viaje.nombre}}
      </h3>
    </div>

    <h3 ng-show="isLoggedIn()">Destinos</h3>
    <ol>
      <div ng-show="isLoggedIn()" ng-repeat="destino in viaje.destinos | orderBy:'-fechaArribo':true">
        <li style="font-size:20px; margin-left:10px;">
          {{destino.ciudad}} (llegada: {{ printDate(destino.fechaArribo) }} - partida: {{ printDate(destino.fechaPartida) }})
        </li>
      </div>
    </ol>
    <br/>

    <div ng-show="isLoggedIn()">
      <h3>Ruta</h3>
      <ui-gmap-google-map center="map.center" zoom="map.zoom" options="map.options" control="googlemap" events="map.events">
        <ui-gmap-markers models="markers.models" coords="'self'" icon="'icon'" events="markers.events"></ui-gmap-markers>
        <ui-gmap-polyline path="lines.path" stroke=lines.stroke geodesic="true" static="true"></ui-gmap-polyline>
      </ui-gmap-google-map>
    </div>

    <form ng-submit="addDestino(viaje)"
      ng-show="isLoggedIn()"
      style="margin-top:30px;">
      <h3>Crear nuevo destino</h3>

      <div class="form-group">
        <input type="text"
        class="form-control"
        placeholder="Ciudad"
        g-places-autocomplete options="autocompleteOptions" ng-model="ciudad"></input>
      </div>

      <div class="form-group">
        <input type="text"
        class="form-control"
        placeholder="Fecha Llegada"
        ng-model="fechaArribo"></input>
      </div>

      <div class="form-group">
        <input type="text"
        class="form-control"
        placeholder="Fecha Partida"
        ng-model="fechaPartida"></input>
      </div>

      <button type="submit" class="btn btn-primary">Agregar destino</button>
      <button ng-click="goBack()" class="btn btn-primary">Volver</button>
    </form>

    <!--<h5>Result:</h5>
    <pre>{{ciudad | json}}</pre>-->
  </script>

  <script type="text/ng-template" id="/register.html">
    <div class="page-header">
      <h1>Vacaciones Permanentes</h1>
    </div>

    <div ng-show="error" class="alert alert-danger row">
      <span>{{ error.message }}</span>
    </div>

    <form ng-submit="register()"
      style="margin-top:30px;">
      <h3>Completa el registro</h3>

      <div class="form-group">
        <input type="text"
        class="form-control"
        placeholder="Nombre de usuario"
        ng-model="user.username"></input>
      </div>
      <div class="form-group">
        <input type="password"
        class="form-control"
        placeholder="Contraseña"
        ng-model="user.password"></input>
      </div>
      <button type="submit" class="btn btn-primary">Registrarse</button>
    </form>
  </script>

  <script type="text/ng-template" id="/login.html">
    <div class="page-header">
      <h1>Vacaciones Permanentes</h1>
    </div>

    <div ng-show="error" class="alert alert-danger row">
      <span>{{ error.message }}</span>
    </div>

    <form ng-submit="logIn()"
      style="margin-top:30px;">
      <h3>Accede a tu cuenta</h3>

      <div class="form-group">
        <input type="text"
        class="form-control"
        placeholder="Nombre de usuario"
        ng-model="user.username"></input>
      </div>
      <div class="form-group">
        <input type="password"
        class="form-control"
        placeholder="Contraseña"
        ng-model="user.password"></input>
      </div>
      <button type="submit" class="btn btn-primary">Log in</button>
    </form>
  </script>

</body>

</html>