<html>

<head>
  <title>Vacaciones Permanentes</title>
  <!-- bower:css -->
  <link rel="stylesheet" href="/javascripts/lib/bootstrap/dist/css/bootstrap.css" />
  <!-- endbower -->
  <!-- bower:js-->
  <script src="/javascripts/lib/jquery/dist/jquery.js"></script>
  <script src="/javascripts/lib/angular/angular.js"></script>
  <script src="/javascripts/lib/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="/javascripts/lib/bootstrap/dist/js/bootstrap.js"></script>
  <!-- endbower-->
<script src="/javascripts/angularApp.js"></script>
  <style> .glyphicon-thumbs-up { cursor:pointer } </style>
</head>

<body ng-app="vacacionesPermanentes">
  <nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
    <ul class="nav navbar-nav">
      <li ng-show="isLoggedIn()"><a>Hola, {{ currentUser() }}</a></li>
      <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Desconectarse</a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/login">Conectarse</a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/register">Registrarse</a></li>
    </ul>
  </nav>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <ui-view></ui-view>
    </div>
  </div>

  <script type="text/ng-template" id="/home.html">
      <div class="page-header">
        <h1>Vacaciones Permanentes</h1>
      </div>

      <div ng-hide="isLoggedIn()">
        <h3>Necesitas <a href="/#/login">logearte</a> o <a href="/#/register">registrarte</a> antes de poder crear un viaje.</h3>
      </div>

      <div ng-show="isLoggedIn()" ng-repeat="viaje in viajes | orderBy:'-nombre'">
          <span>
             {{viaje.nombre}} - <a href="#/viajes/{{viaje._id}}">Destinos: {{viaje.destinos.length}}</a> - <a href="" ng-click="delViaje(viaje._id)">Borrar</a>
          </span>
        </span>
      </div>

      <form ng-submit="addViaje()"
        ng-show="isLoggedIn()"
        style="margin-top:30px;">
        <h3>Agregar un viaje nuevo</h3>

        <div class="form-group">
          <input type="text"
            class="form-control"
            placeholder="Nombre"
            ng-model="nombre"></input>
        </div>
        <button type="submit" class="btn btn-primary">Crear</button>
      </form>
  </script>

  <script type="text/ng-template" id="/viajes.html">
    <div class="page-header">
      <h3>
          {{viaje.nombre}}
      </h3>
    </div>

    <div ng-repeat="destino in viaje.destinos | orderBy:'-ciudad'">
      <span style="font-size:20px; margin-left:10px;">
        {{destino.ciudad}} (llegada: {{destino.fechaArribo.toString()}} - partida: {{destino.fechaPartida.toString()}})
      </span>
    </div>

    <form ng-submit="addDestino(viaje)"
      ng-show="isLoggedIn()"
      style="margin-top:30px;">
      <h3>Crear nuevo destino</h3>

      <div class="form-group">
        <input type="text"
        class="form-control"
        placeholder="Ciudad"
        ng-model="ciudad"></input>
      </div>

      <div class="form-group">
        <input type="text"
        class="form-control"
        placeholder="FechaArribo"
        ng-model="fechaArribo"></input>
      </div>

      <div class="form-group">
        <input type="text"
        class="form-control"
        placeholder="FechaPartida"
        ng-model="fechaPartida"></input>
      </div>

      <button type="submit" class="btn btn-primary">Agregar destino</button>
      <button ng-click="goBack()" class="btn btn-primary">Volver</button>
    </form>
  </script>

  <script type="text/ng-template" id="/register.html">
    <div class="page-header">
      <h1>Vacaciones Permanentes</h1>
    </div>

    <div ng-show="error" class="alert alert-danger row">
      <span>{{ error.message }}</span>
    </div>

    <form ng-submit="register()"
      style="margin-top:30px;">
      <h3>Completa el registro</h3>

      <div class="form-group">
        <input type="text"
        class="form-control"
        placeholder="Nombre de usuario"
        ng-model="user.username"></input>
      </div>
      <div class="form-group">
        <input type="password"
        class="form-control"
        placeholder="Contraseña"
        ng-model="user.password"></input>
      </div>
      <button type="submit" class="btn btn-primary">Registrarse</button>
    </form>
  </script>

  <script type="text/ng-template" id="/login.html">
    <div class="page-header">
      <h1>Vacaciones Permanentes</h1>
    </div>

    <div ng-show="error" class="alert alert-danger row">
      <span>{{ error.message }}</span>
    </div>

    <form ng-submit="logIn()"
      style="margin-top:30px;">
      <h3>Accede a tu cuenta</h3>

      <div class="form-group">
        <input type="text"
        class="form-control"
        placeholder="Nombre de usuario"
        ng-model="user.username"></input>
      </div>
      <div class="form-group">
        <input type="password"
        class="form-control"
        placeholder="Contraseña"
        ng-model="user.password"></input>
      </div>
      <button type="submit" class="btn btn-primary">Log in</button>
    </form>
  </script>

</body>

</html>